// Nav section styling
nav {
	@include flexSpace;
	margin: 1.25rem auto 0;
	width: 100%;

	i {
		display: none !important;
		font-size: 1.25rem;
		margin: auto 0;
	}
}

.brand {
	display: flex;
}

.brandLogo {
	width: 3.125rem;
	height: 3.125rem;
	margin: 0 1.25rem 0 0;
}

.brandName {
	font-size: 1.5rem;
	font-weight: bold;
	margin: auto 0;
}

.navLinks {
	display: flex;
	margin: auto 0;

	a {
		font-size: 1.25rem;

		&.active {
			border-bottom: 0.125rem solid $primary-color;
			color: unset;
		}

		&:not(.active) {
			margin-left: 1.25rem;

			&:hover {
				border-bottom: 0.125rem dotted $primary-color;
				color: unset;
			}
		}
	}
}

// Intro section styling
.introSection {
	@include flexSpace;
	// background-color: rgb(170, 65, 65);
	margin: auto 0;
	height: 80vh;
}

.slideArea {
	// background-color: black;
	display: flex;
	margin: auto 0;
	width: 40%;
	min-width: 300px;
	height: 70%;

	.slide {
		margin: auto;
	}
}

.introInfo {
	// background-color: blueviolet;
	display: flex;
	flex-direction: column;
	margin: auto 0;
	width: 44%;
	height: 40%;

	.salute {
		font-size: 1.5rem;
		font-weight: bold;
	}

	.skill {
		font-size: 2.25rem;
		font-weight: bold;
	}

	.prompt {
		font-size: 1.125rem;
		margin: auto auto 1.25rem;
	}

	img {
		width: 3rem;
		height: 3rem;
		margin: 0 auto;
	}
}
