#home {
	flex-direction: column;
	padding-bottom: 1.25rem;
}

.intro {
	display: flex;
	margin: auto 0;

	.introMessage {
		display: flex;
		flex-direction: column;
		margin: auto 0;
		width: 50%;

		div {
			display: flex;
			flex-direction: column;
			margin: 0;
			padding: 0;

			&:not(:last-child) {
				margin-bottom: 1.25rem;
			}
		}

		.greeting {
			h2 {
				font-size: 1.5rem;
			}

			h1 {
				font-size: 2.25rem;
				font-weight: bold;
			}
		}

		.aboutMe {
			display: flex;
			flex-direction: column;

			p {
				margin: 0 0 1.25rem 0;
			}

			.callToAction {
				display: flex;
				flex-direction: column;
				margin: 0 auto 0 0;

				a {
					font-weight: bold;
					margin: 0;
					padding: 0.3125rem 0.625rem;
					text-align: center;
					width: 100%;

					&:first-child {
						border: 0.125rem solid $primary-color;
						margin-bottom: 1.25rem;

						&:hover {
							background-color: $primary-color;
							color: $primary-bg-color;
						}
					}

					&:last-child {
						border-top: 0.125rem solid transparent;
						border-left: 0.125rem solid transparent;
						border-bottom: 0.125rem solid $primary-color;
						border-right: 0.125rem solid transparent;

						&:hover {
							border: 0.125rem solid $primary-color;
						}
					}
				}
			}
		}
	}

	.introGraphic {
		display: flex;
		width: 50%;

		img {
			object-fit: cover;
			object-position: center;
			width: 100%;
		}
	}
}
