#home {
	padding-bottom: 1.25rem;

	.sectionContainer {
		display: flex;
		flex-direction: column;
		min-height: calc(100vh - 1.25rem);
	}
}

.homeIntro {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 100%;

	.introGraphic {
		display: flex;
		margin: 0 auto 1.25rem;
		width: 100%;
		// min-width: fit-content;

		img {
			margin: auto;
			object-fit: cover;
			object-position: center;
			width: 100%;
			min-width: 250px;
		}
	}

	.introMessage {
		display: flex;
		flex-direction: column;
		width: 100%;

		div {
			display: flex;
			flex-direction: column;
			margin: 0;
			padding: 0;

			&:not(:last-child) {
				margin-bottom: 1.25rem;
			}
		}

		.greeting {
			h2 {
				font-size: 1.5rem;
			}

			h1 {
				font-size: 2.25rem;
				font-weight: bold;
			}
		}

		.aboutMe {
			display: flex;
			flex-direction: column;

			p {
				margin: 0 0 1.25rem 0;
			}

			.callToAction {
				display: flex;
				flex-direction: column;
				margin: 0 auto;

				a {
					font-weight: bold;
					margin: 0;
					padding: 0.3125rem 0.625rem;
					text-align: center;
					width: 100%;

					&:first-child {
						border: 0.125rem solid $primary-color;
						border-radius: 0.3125rem;
						margin-bottom: 1.25rem;

						&:hover {
							background-color: $primary-color;
							color: $primary-bg-color;
						}
					}

					&:last-child {
						border-top: 0.125rem solid transparent;
						border-left: 0.125rem solid transparent;
						border-bottom: 0.125rem solid $primary-color;
						border-right: 0.125rem solid transparent;

						&:hover {
							border: 0.125rem solid $primary-color;
							border-radius: 0.3125rem;
						}
					}
				}
			}
		}
	}
}
