// first breakpoint
@media (max-width: 760px) {
	.techStack {
		span {
			padding: 0.3125rem !important;

			&:first-child {
				border-radius: 0.3125rem 0 0 0.3125rem !important;
			}

			&:not(:first-child) {
				border-left: 0.125rem solid $secondary-bg-color;
				border-radius: 0 !important;
				margin-left: 0 !important;
			}

			&:last-child {
				border-radius: 0 0.3125rem 0.3125rem 0 !important;
			}
		}
	}

	.contactFormAndMedia {
		margin: 0 auto !important;
	}
}

// second breakpoint
@media (min-width: 760px) {
	nav {
		.navLinks {
			display: flex;
		}

		.resNavIcons,
		.resNavLinks {
			display: none;
		}
	}

	.homeIntro {
		.introMessage,
		.introGraphic {
			margin-right: auto;
			margin-left: auto;
			width: 50% !important;
		}
	}

	.slider {
		button {
			img {
				width: 1.5rem !important;
			}

			&:first-child {
				margin-right: 0.625rem !important;
			}

			&:last-child {
				margin-left: 0.625rem !important;
			}
		}
	}
}

// third breakpoint
@media (min-width: 1000px) {
	.contactFormAndMedia {
		width: 50vw;
	}
}

// fourth breakpoint
@media (min-width: 1260px) {
	.homeIntro {
		flex-direction: row-reverse;
		margin: auto;

		.introMessage,
		.introGraphic {
			width: 50%;
		}

		.introMessage {
			margin: auto 1.25rem auto 0;

			.aboutMe {
				.callToAction {
					margin: 0 auto 0 0;
				}
			}
		}

		.introGraphic {
			margin: auto !important;
		}
	}

	.slider {
		button {
			&:first-child {
				margin-right: 0.625rem !important;
			}

			&:last-child {
				margin-left: 0.625rem !important;
			}
		}
	}

	.project {
		width: 85% !important;
	}
}

// fifth breakpoint
@media (min-width: 1400px) {
	.slider {
		button {
			img {
				width: 2.5rem !important;
			}
		}
	}

	.projectItem {
		.project {
			flex-direction: row !important;

			.projectDetails {
				margin: 0 1.25rem 0 0;
				width: 35% !important;
			}

			.projectImage {
				margin: 0 auto;
				width: 65% !important;

				img {
					object-fit: contain !important;
					object-position: center !important;
					width: 100% !important;
				}
			}
		}
	}

	.contactFormAndMedia {
		flex-direction: row !important;
		margin: auto !important;
		width: 50vw !important;

		.contactMedia,
		.contactForm {
			width: 50% !important;
		}
	}
}
