#projects {
	flex-direction: column;

	.slider {
		width: 100%;

		div {
			background-color: blue;
			// width: 78vw;
		}

		button {
			opacity: 1;
			width: fit-content;

			img {
				width: 2.5rem;
			}

			.prevProject {
				transform: rotate(180deg);
			}
		}
	}
}

.projectItem {
	.project {
		border: 1px solid white;
		display: flex;
		flex-direction: row;
		margin: 0 auto;
		width: 95%;

		.projectDetails {
			border: 1px dashed white;
			display: flex;
			flex-direction: column;
			// margin: auto;
			width: 35%;

			h3 {
				text-decoration: underline;
			}

			.techStack {
				display: flex;
				flex-direction: row;
				margin: 1.25rem 0;

				span {
					background-color: $primary-color;
					border-radius: 0.3125rem;
					color: $primary-bg-color;
					padding: 0.3125rem 0.625rem;

					&:not(:first-child) {
						margin-left: 0.625rem;
					}
				}
			}

			a {
				border-top: 0.125rem solid rgba(0, 0, 0, 0);
				border-right: 0.125rem solid rgba(0, 0, 0, 0);
				border-bottom: 0.125rem solid rgba(0, 0, 0, 0);
				border-left: 0.125rem solid $primary-color;
				margin: 0 auto 0 0;
				padding: 0.3125rem 0.625rem;
				transition: 0.1s ease-in-out;

				&:hover {
					border: 0.125rem solid $primary-color;
				}
			}
		}

		.projectImage {
			width: 65%;

			img {
				object-fit: cover;
				object-position: center;
				width: 100%;
				min-width: 300px;
			}
		}
	}
}
