// Import font
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// declare variables
$primary-bg-color: #2f2e41;
$secondary-bg-color: #787780;
$primary-color: #fff;
$secondary-color: #000;

// global mixins
@mixin applyPadding() {
	padding: 0 2.5rem;
}

@mixin applyTopBottomPadding() {
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
}

// global styling
* {
	color: $primary-color;
	font-family: Roboto, sans-serif;
	transition: 0.25s ease-in-out;
}

body {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

.section {
	@include applyPadding();
	display: flex;
	min-height: 100vh;
}

.darkSection {
	background-color: $primary-bg-color;
}

.lightSection {
	background-color: $secondary-bg-color;
}

.sectionTitle {
	font-size: 1.5rem;
	margin: 0 auto 0.625rem;
	text-align: center;
}

.sectionSub {
	font-size: 1.25rem;
	margin: 0 auto 0.625rem;
	text-align: center;
}

// global nav styling
nav {
	display: flex;
	color: $primary-color;
	justify-content: space-between;
	margin: 0 0 1.25rem 0;
	position: relative;

	.brand {
		display: flex;
		margin: 1.25rem auto 0.625rem 0;

		img {
			margin: auto 1.25rem auto 0;
			padding: 0;
			width: 3.125rem;
			height: 3.125rem;
		}

		p {
			font-size: 1.5rem;
			font-weight: bold;
			margin: auto 0;
			padding: 0;
		}
	}

	.navLinks,
	.navLinksResponsive {
		display: flex;
		margin: auto 0;

		a {
			font-size: 1.25rem;

			&:not(:last-child) {
				margin-right: 1.25rem;
			}

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.navLinksResponsive {
		background-color: $primary-bg-color;
		border-top: none;
		border-right: 0.125rem solid $primary-color;
		border-bottom: 0.125rem solid $primary-color;
		border-left: 0.125rem solid $primary-color;
		display: none;
		flex-direction: column;
		padding: 0.625rem;
		position: absolute;
		top: 100%;
		right: 0;

		a {
			font-size: 1.25rem;

			&:not(:last-child) {
				margin-bottom: 1.25rem;
			}

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.navIcons {
		display: none;
		margin: auto 0;
		position: relative;

		i {
			font-size: 1.25rem;
		}
	}
}

// Home section styling
@import '_home';

// Projects section styling
@import '_projects';

// Contact section styling
@import '_contact';

// Media queries
@import '_mediaQueries';
